<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/HibernateConfigurationDTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/m06</property>
        <property name="connection.username">ilerna</property>
        <property name="connection.password">ilerna_1234</property>

        <mapping resource="alumno.hbm.xml"/>
        <mapping resource="modulo.hbm.xml"/>
        <mapping resource="profesor.hbm.xml"/>
    </session-factory>
</hibernate-configuration>